
body{
    background-color: #E6E6E6;
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container{
    flex-grow: 1;
    z-index: 999999;
}

.card{
    flex-grow: 1;
    margin: 16px;
    z-index: 999999;
}
.title_blue{
    color: #0871BE;
    padding: 0px;
    text-align: center;
}

.button{
    margin-top: 20px;
}

p{
    font-weight: 900;
    letter-spacing: 2px;
}

.degrade{
    background-image: linear-gradient(90deg,#2AA4FD,#0872C1);
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center
}

.logo{
    height: 40%;
    align-self: flex-start;
    margin-top: 16px;
}

.logo.inside{
    margin: 0;
    width: 150px;
    height: 150px;
    align-self: center;
}

.footer{
    position: absolute;
    bottom: 0px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #8B8B8B;
    font-size: 10px;
    text-align: center;
    width: 100%;
}
