<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.visualmix.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cerne</name>
    <description>Plataforma de criação de flashcards</description>
    <author email="support@visualmix.com.br" href="http://visualmix.com.br">Visual Mix</author>
    <content src="index.html" />
    <icon src="www/img/icone.png" />
    <splash src="www/img/back.png" />
    <preference name="SplashScreenDelay" value="3500" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#ff0000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarDefaultScrollToTop" value="true" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.7" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.1" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" source="npm" spec="~0.9.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.3" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
